<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="imageFinder.dir1" value="D:\Temp" />
    <add key="imageFinder.dir2" value="" />
    <add key="imageFinder.dir3" value="" />
    <add key="imageFinder.dir4" value="" />
  </appSettings>
  
</configuration>